[Unit]
Description=WorldForge DnD Lore System
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/srv/worldforge
ExecStart=/usr/bin/make prod
User=worldforge
Group=worldforge
ExecStop=/usr/bin/make down

[Install]
WantedBy=multi-user.target